@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i&display=swap");
/* ------ screen responsiveness ------ */
/* Minimum aspect ratio */
/* ------ fonts ------ */
/* ------ colors ------ */
/* ------ elements ------ */
@import url(c:\Users\Josh\projects\capstones\second-full-capstone\chat-client\src\video-react.css);
.landingpage_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  height: 100%;
  max-height: 780px;
  padding: 0% 12.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 850px) {
  .landingpage_container {
    overflow: hidden;
    max-height: unset;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage_container {
    display: -ms-grid;
    display: grid;
  }
}

.landingpage {
  margin: auto;
  overflow: hidden;
}

@media (max-width: 850px) {
  .landingpage {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage {
    height: 60%;
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5vw 1fr;
        grid-template-columns: 1fr 5vw 1fr;
    position: initial;
    top: 20%;
    padding-left: 8%;
    padding-right: 8%;
    -webkit-box-shadow: 0px -55px 40px -50px rgba(0, 0, 0, 0.2), 0px 55px 40px -50px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -55px 40px -50px rgba(0, 0, 0, 0.2), 0px 55px 40px -50px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage {
    height: 100%;
    width: initial;
    display: -ms-grid;
    display: grid;
    position: initial;
    -ms-grid-rows: 15vh auto 15vh;
        grid-template-rows: 15vh auto 15vh;
    -ms-grid-columns: 5fr 1fr 5fr;
        grid-template-columns: 5fr 1fr 5fr;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage {
    height: 60vh;
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5vw 1fr;
        grid-template-columns: 1fr 5vw 1fr;
    position: initial;
    top: 20%;
    padding-left: 8%;
    padding-right: 8%;
    -webkit-box-shadow: 0px -55px 40px -50px rgba(0, 0, 0, 0.2), 0px 55px 40px -50px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -55px 40px -50px rgba(0, 0, 0, 0.2), 0px 55px 40px -50px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
}

@media (max-width: 850px) {
  .landingpage .mobile_grid1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: auto;
    position: initial;
    margin-top: initial;
    margin: auto;
    overflow: hidden;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    position: fixed;
    top: 0%;
    margin-top: initial;
    margin: auto;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage .mobile_grid1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    position: fixed;
    top: 0%;
    margin-top: initial;
    margin: auto;
  }
}

@media (min-width: 500px) and (max-width: 800px) and (max-height: 1025px) {
  .landingpage .mobile_grid1 {
    height: 450px;
  }
}

.landingpage .mobile_grid1 .landingpage_header {
  text-align: center;
  margin-top: 3%;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid1 .landingpage_header {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid1 .landingpage_header {
    display: none;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid1 .landingpage_header {
    display: none;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage .mobile_grid1 .landingpage_header {
    display: none;
  }
}

.landingpage .mobile_grid1 .landingpage_header * {
  margin-top: 0px;
}

.landingpage .mobile_grid1 .landingpage_header .title {
  margin-bottom: 2px;
  font-size: 30px;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid1 .landingpage_header .title {
    margin-top: 0px;
  }
}

.landingpage .mobile_grid1 .landingpage_header .subtitle {
  margin-bottom: 5%;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid1 .landingpage_header .subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.landingpage .mobile_grid1 .videoplayer_container {
  min-width: 390px;
  /* @include shortToWide {
                width: 30vw;
            } */
}

@media (max-width: 599px) {
  .landingpage .mobile_grid1 .videoplayer_container {
    min-width: unset;
  }
}

@media (max-width: 850px) {
  .landingpage .mobile_grid1 .videoplayer_container {
    width: 100vw;
    height: 30vh;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}

@media (min-width: 500px) and (max-width: 800px) and (max-height: 1025px) {
  .landingpage .mobile_grid1 .videoplayer_container {
    height: 350px;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid1 .videoplayer_container {
    width: 30vw;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid1 .videoplayer_container {
    height: auto;
    width: 30vw;
    min-width: unset;
  }
}

.landingpage .mobile_grid1 .videoplayer_container .video-react-big-play-button::before {
  cursor: pointer;
  width: 3em;
}

.landingpage .mobile_grid1 .videoplayer_container * .video-react-big-play-button::before {
  cursor: pointer;
  width: 3em;
}

@media (max-width: 599px) {
  .landingpage .mobile_grid2 {
    margin-top: 50vw !important;
  }
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 10vh;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: auto;
    position: initial;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage .mobile_grid2 {
    overflow-y: auto;
    position: initial;
    top: 0%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: auto;
  }
}

.landingpage .mobile_grid2 .landingpage_header_shortToWide {
  display: none;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide {
    display: initial;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide {
    display: initial;
    margin-top: 15vh;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide {
    display: initial;
    margin-top: 15vh;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide {
    margin-top: calc(0px + 20vh);
    display: initial;
  }
}

.landingpage .mobile_grid2 .landingpage_header_shortToWide * {
  margin-top: 0px;
}

.landingpage .mobile_grid2 .landingpage_header_shortToWide .title {
  margin-bottom: 2px;
  font-size: 30px;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide .title {
    margin-top: 0px;
  }
}

.landingpage .mobile_grid2 .landingpage_header_shortToWide .subtitle {
  margin-bottom: 30px;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide .subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide .subtitle {
    margin-bottom: 5px;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage .mobile_grid2 .landingpage_header_shortToWide .subtitle {
    margin-bottom: 5px;
  }
}

.landingpage .mobile_grid2 .enter_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
  font-size: 20px;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .enter_btn_container {
    width: 6rem;
    margin: 30px auto;
  }
}

.landingpage .mobile_grid2 .enter_btn {
  margin: auto;
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid2 .info_section {
    margin-top: calc(0px + 30vh);
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage .mobile_grid2 .info_section {
    margin-top: calc(0px + 30vh);
  }
}

.landingpage .mobile_grid2 .info_section * {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .info_section * {
    margin-bottom: 30px;
    font-size: 17px;
  }
}

.landingpage .mobile_grid2 .info_section .tech_used_contaier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3%;
  /* @include shortToWide {
                    margin-top: 10vh;
                } */
  /* @supports (text-justify: inter-word) {
                    .tech_used {
                        margin: 20px auto;
                        text-align: justify;
                        text-justify: inter-word;
    
                        &:before {
                            content: '';
                            display: none;
                        }
                
                        &:after {
                            content: '';
                            display: none;
                        }
                    }
                } */
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid2 .info_section .tech_used_contaier {
    margin-top: 15vh;
  }
}

.landingpage .mobile_grid2 .info_section .tech_used_contaier .tech_used {
  margin: 20px auto;
  text-align: center;
  /* &:before {
                        content: '';
                        display: inline-block;
                        background-color: grey;
                        padding: 0.5px 15px;
                        margin: 1rem 10px 0.25rem 0px;
                    }
            
                    &:after {
                        content: '';
                        display: inline-block;
                        background-color: grey;
                        padding: 0.5px 15px;
                        margin: 1rem 0px 0.25rem 10px;
                    } */
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .info_section .tech_used_contaier .tech_used {
    margin: 8px auto;
  }
}

.landingpage .mobile_grid2 .info_section .status_container {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .info_section .status_container {
    text-align: left;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid2 .info_section .status_container {
    text-align: left;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid2 .info_section .status_container {
    margin-top: 25vh;
  }
}

.landingpage .mobile_grid2 .footer {
  width: 50%;
  margin: 3% auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .footer {
    width: 80%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .landingpage .mobile_grid2 .footer {
    margin: 24vh auto;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .landingpage .mobile_grid2 .footer {
    margin: 3% auto;
    margin-bottom: 25vh;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .landingpage .mobile_grid2 .footer {
    margin-top: 30vh;
    margin-bottom: 30vh;
  }
}

.landingpage .mobile_grid2 .footer span {
  border-radius: unset;
  font-weight: 100;
  -webkit-transition: scale() 0.3s ease-in;
  transition: scale() 0.3s ease-in;
}

@media (max-width: 850px) {
  .landingpage .mobile_grid2 .footer span .fa-2x {
    font-size: 2.5em;
  }
}

.landingpage .mobile_grid2 .footer span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: scale() 0.1s ease-in;
  transition: scale() 0.1s ease-in;
}
/*# sourceMappingURL=LandingPage.css.map */