@import '../scssImports';

@mixin videoTabSize {
    @media (min-width: 500px) and (max-width: 800px) and (max-height: 1025px) { @content; }
  }

@include wideScreens {
    .landingpage_container {
        display: grid;
        p {
            color: cadetblue;
        }
    }
}

.landingpage {
    //width: 75%;
    margin: auto;
    overflow: hidden;
    @include tablet {
        display: grid;
        grid-template-rows: auto auto;
    }

    @include shortToWide {
        height: 60%;
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 5vw 1fr;
        position: initial;
        top: 20%;
        padding-left: 8%;
        padding-right: 8%;
        box-shadow: 0px -55px 40px -50px rgba(0,0,0,0.2), 
                    0px 55px 40px -50px rgba(0,0,0,0.2);
        overflow-y: auto;
    }

    @include shortToRegular {
        height: 100%;
        width: initial;
        display: grid;
        position: initial;
        grid-template-rows: 15vh auto 15vh;
        grid-template-columns: 5fr 1fr 5fr;
        padding-left: 10%;
        padding-right: 10%;
    }

    @include wideScreens {
        height: 60vh;
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 5vw 1fr;
        position: initial;
        top: 20%;
        padding-left: 8%;
        padding-right: 8%;
        box-shadow: 0px -55px 40px -50px rgba(0,0,0,0.2), 
                    0px 55px 40px -50px rgba(0,0,0,0.2);
        overflow-y: auto;
        
    }

    .mobile_grid1 {
        @include tablet {
            grid-row: 1/2;
            height: 310px;
            display: flex;
            flex-direction: column-reverse;
        }

        @include shortToRegular {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: auto;
            position: initial;
            margin-top: initial;
            margin: auto;
            overflow: hidden;
        }

        @include shortToWide {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            position: fixed;
            top: 0%;
            margin-top: initial;
            margin: auto;
        }

        @include wideScreens {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            position: fixed;
            top: 0%;
            margin-top: initial;
            margin: auto;
        }
        
        @include videoTabSize {
            height: 450px;
        }

        .landingpage_header {
            text-align: center;
            //margin-top: 30px;
            margin-top: 3%;
            @include tablet {
                display: none;
            }

            @include shortToWide {
                display: none;
            }

            @include shortToRegular {
                display: none;
            }

            @include wideScreens {
                display: none;
            }
    
            * {
                margin-top: 0px;
            }
    
            .title {
                margin-bottom: 2px;
                font-size: 30px;
                    @include tablet {
                    margin-top: 0px;
                }
            }
    
            .subtitle {
                //margin-bottom: 30px;
                margin-bottom: 5%;
                @include tablet {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }
    
        .videoplayer_container {
            //@debugheight: 28vh;
            
            @include tablet {
                width: 100vw;
                height: 30vh;
                position: fixed;
                top: 0px;
                left: 0px;
            }

            @include videoTabSize {
                height: 350px;
            }

            /* @include shortToWide {
                height: 85%;
            } */

            @include shortToWide {
                height: auto;
            }
            
            * {
                @include tablet {
                    height: inherit;
                }
                //height: 25vh;
                @include shortToWide {
                    width: 25vw;
                    //height: 100%;
                }

                @include shortToRegular {
                    width: 100%
                }
            }
        }
    }

    .mobile_grid2{
        @include phone {
            margin-top: 50vw !important;
        }

        @include tablet {
            grid-row: 2/3;
            margin-top: 0vh;
        }

        @include shortToRegular {
            grid-row: 2/3;
            grid-column: 3/4;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            //height: 50vh;
            overflow-y: auto;
            margin: auto;
            position: initial;
        }

        @include shortToWide {
            grid-row: 2/3;
            grid-column: 3/4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //width: 75%;
            width: 100%;
            margin: auto;
        }

        @include wideScreens {
            overflow-y: auto;
            position: initial;
            top: 0%;
            grid-row: 2/3;
            grid-column: 3/4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //width: 75%;
            width: 100%;
            margin: auto;
        }

        .landingpage_header_shortToWide {
            display: none;
            text-align: center;
            margin-top: 30px;
            @include tablet {
                display: initial;
            }

            @include shortToWide {
                display: initial;
                margin-top: 15vh;
            }

            @include shortToRegular {
                display: initial;
                margin-top: 15vh;
            }

            @include wideScreens {
                margin-top: calc(0px + 20vh);
                display: initial;
            }
    
            * {
                margin-top: 0px;
            }
    
            .title {
                margin-bottom: 2px;
                font-size: 30px;
                    @include tablet {
                    margin-top: 0px;
                }
            }
    
            .subtitle {
                margin-bottom: 30px;
                @include tablet {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                @include shortToWide {
                    margin-bottom: 5px;
                }

                @include wideScreens {
                    margin-bottom: 5px;
                }
            }
        }

        .enter_btn_container {
            display: flex;
            width: 4rem;
            height: fit-content;
            margin: 10px auto;
            font-size: 20px;
    
            @include tablet {
                width: 6rem;
                margin: 30px auto;
            }
        }
    
        .enter_btn {
            margin: auto;
            padding-bottom: 3px;
            text-decoration: none;
            color: white;
        }
    
        .info_section {
            @include shortToWide {
                margin-top: calc(0px + 30vh)
            }

            @include wideScreens {
                margin-top: calc(0px + 30vh);
            }
    
            * {
                font-size: 15px;
                margin-top: 20px;
                margin-bottom: 0px;
                @include tablet {
                    margin-bottom: 30px;
                    font-size: 17px;
                }
            }
    
            .tech_used_contaier {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                //margin-top: 30px;
                margin-top: 3%;
                /* @include shortToWide {
                    margin-top: 10vh;
                } */

                @include shortToRegular {
                    margin-top: 15vh;
                    //margin-top: 25vh;
                }

                .tech_used {
                    margin: 20px auto;
                    // for browsers that don't support text-justify
                    text-align: center;
    
                    @include tablet {
                        margin: 8px auto;
                    }
    
                    /* &:before {
                        content: '';
                        display: inline-block;
                        background-color: grey;
                        padding: 0.5px 15px;
                        margin: 1rem 10px 0.25rem 0px;
                    }
            
                    &:after {
                        content: '';
                        display: inline-block;
                        background-color: grey;
                        padding: 0.5px 15px;
                        margin: 1rem 0px 0.25rem 10px;
                    } */
                }
    
                // for browsers that support text-justify
                /* @supports (text-justify: inter-word) {
                    .tech_used {
                        margin: 20px auto;
                        text-align: justify;
                        text-justify: inter-word;
    
                        &:before {
                            content: '';
                            display: none;
                        }
                
                        &:after {
                            content: '';
                            display: none;
                        }
                    }
                } */
            }
    
            .status_container {
                margin-top: 10px;
                text-align: center;
                @include tablet{
                    text-align: left;
                }

                @include shortToWide {
                    text-align: left;
                }

                @include shortToRegular {
                    margin-top: 25vh;
                }
            }
        }
    
        .footer {
            width: 50%;
            //margin: 30px auto;
            margin: 3% auto; // need to change
            text-align: center;
            display: flex;
            justify-content: space-around;
            @include tablet {
                width: 80%
            }

            @include shortToWide {
                margin: 24vh auto;
            }

            @include shortToRegular {
                margin: 3% auto;
                margin-bottom: 25vh;
            }

            @include wideScreens {
                margin-top: 30vh;
                margin-bottom: 30vh;
            }
    
            span {
                border-radius: unset;
                font-weight: 100;
                transition: scale() 0.3s ease-in;
    
                @include tablet {
                    .fa-2x {
                        font-size: 2.5em;
                    }
                }
    
                &:hover {
                    transform: scale(1.1);
                    transition: scale() 0.1s ease-in;
                }
            }
        }
    }
}