@import '../scssImports';
@include form-2;
@mixin li {
    color: grey;
    &:hover {
        color: $blue;
    }
}

.rooms_form {
    position: relative;
    top: 0px;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    @include tablet {
        position: fixed;
        width: 100vw;
        padding: 30px 0px;
        margin-top: 0px;
        box-shadow: 0px -4px 12px 4px rgba(0, 0, 0, 0.2);
        background-color: white;
    }
}

.room_section {
    overflow: hidden;
    margin-top: 20px;
    @include tablet {
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 120px;
        height: calc(100vh - 118px);
    }

    &.scroll_shadow {
        box-shadow: 0px -4px 12px -4px rgba(0,0,0,0.2) inset, 
        0px 4px 12px -6px rgba(0,0,0,0.2) inset;
        @include tablet {
            box-shadow: none;
        }
    }

    .room_list_container {
        width: 104%;
        height: 575px;
        overflow-y: scroll;
        @include tablet {
            height: auto;
            width: 100%;
        }

        @include shortToWide {
            width: unset;
            height: unset;
            overflow-y: unset;
        }
    
        .room_list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            @include tablet {
                margin-top: 30px;
            }
            @include large-tablet {
                padding: 0px 4% 0px 0px;
            }
            
            .room {
                display: block;
                cursor: pointer;
                @include li;
                transition: transform 0.3s ease-out 0.15s,
                color 0.1s ease-out;
    
                &:hover {
                    transform: scale(1.1);
                    transition: all 0.07s ease;
                }
                
                .room_name {
                    margin: 10px;
                }
            }
        }
    }
}