@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i&display=swap");
/* ------ screen responsiveness ------ */
/* Minimum aspect ratio */
/* ------ fonts ------ */
/* ------ colors ------ */
/* ------ elements ------ */
.btn-3 {
  border: 0;
  border-radius: 20px;
  background-color: #ff6392;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 80px;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

@media (max-width: 850px) {
  .btn-3 {
    border-radius: 10px;
  }
}

.btn-3:hover {
  background-color: #ff165d;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.btn-4 {
  border: 0;
  border-radius: 20px;
  background-color: #3ec1d3;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 80px;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

@media (max-width: 850px) {
  .btn-4 {
    border-radius: 10px;
  }
}

.btn-4:hover {
  background-color: #2491a0;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.chatroom_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px auto 0px auto;
      grid-template-rows: 140px auto 0px auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chatroom_container .room_header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  height: 120px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.chatroom_container .room_header h1 {
  font-size: 30px;
  margin: 10px;
}

.chatroom_container .message_section {
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  overflow: hidden;
}

.chatroom_container .message_section .message_container {
  height: inherit;
  width: 104%;
}

@media (max-width: 850px) {
  .chatroom_container .message_section .message_container {
    width: 100%;
  }
}

@media (min-aspect-ratio: 100 / 43) {
  .chatroom_container .message_section .message_container {
    width: 100%;
  }
}

@media (min-aspect-ratio: 100 / 43) {
  .chatroom_container .message_section .css-y1c0xs {
    width: 101%;
  }
}

.chatroom_container .message_section .css-1qyrjaz {
  right: 40px;
  bottom: 20px;
}

.chatroom_container .message_section .messages {
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0px 145px 0px 15px;
  width: auto;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  color: white;
}

@media (max-width: 850px) {
  .chatroom_container .message_section .messages {
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }
}

@media (min-aspect-ratio: 100 / 43) {
  .chatroom_container .message_section .messages {
    width: 74%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.chatroom_container .message_section .messages .me {
  position: relative;
  left: calc(50% - 30px);
}

@media (max-width: 850px) {
  .chatroom_container .message_section .messages .me {
    left: unset;
    margin: 0px 20px;
  }
}

.chatroom_container .message_section .messages .me .message {
  background-color: #ff6392;
}

.chatroom_container .message_section .messages .me .message, .chatroom_container .message_section .messages .me .preview {
  margin-left: auto;
}

@media (max-width: 850px) {
  .chatroom_container .message_section .messages .me .message, .chatroom_container .message_section .messages .me .preview {
    margin-right: 0px;
    margin-left: auto;
  }
}

.chatroom_container .message_section .messages .me .message:before, .chatroom_container .message_section .messages .me .preview:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #ff6392;
  border-right: 0px solid transparent;
  border-top: 20px solid #ff6392;
  border-bottom: 0px solid transparent;
  border-radius: 2500px 2600px 100px 3750px;
  right: -4px;
  top: 47px;
  -webkit-transform: rotate(324deg) scaleY(1.25);
          transform: rotate(324deg) scaleY(1.25);
}

@media (max-width: 850px) {
  .chatroom_container .message_section .messages .preview_warp {
    word-break: break-word;
  }
}

.chatroom_container .message_section .messages .message, .chatroom_container .message_section .messages .preview {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 20px;
  margin: 15px 0px;
  max-width: 360px;
}

.chatroom_container .message_section .messages .message .from, .chatroom_container .message_section .messages .preview .from {
  margin-bottom: 7px;
  padding-right: 60px;
}

@media (max-width: 850px) {
  .chatroom_container .message_section .messages .not_me {
    margin: 0px 20px;
  }
}

.chatroom_container .message_section .messages .not_me:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  position: relative;
  margin-top: -30px;
  border-left: 15px solid #3ec1d3;
  border-right: 0px solid transparent;
  border-top: 20px solid #3ec1d3;
  border-bottom: 0px solid transparent;
  border-radius: 2500px 2600px 100px 3750px;
  left: -5px;
  top: 85px;
  -webkit-transform: rotate(212deg) scaleY(-1.25);
          transform: rotate(212deg) scaleY(-1.25);
}

@media (max-width: 850px) {
  .chatroom_container .message_section .messages .not_me:before {
    left: -4px;
  }
}

.chatroom_container .message_section .messages .message {
  background-color: #3ec1d3;
  border-radius: 20px;
}

.chatroom_container .message_section .messages .preview {
  color: white;
  background-color: #ff6392;
  border-radius: 20px;
  opacity: 0.5;
}

.chatroom_container .message_section .messages .message > *, .chatroom_container .message_section .messages .preview > * {
  margin: 0px 0px 3px 0px;
}

.chatroom_container .message_section .messages .time_sent {
  text-align: right;
}

.chatroom_container .message_section .newUserMsg {
  text-align: center;
  color: grey;
  padding-right: 19px;
}

.chatroom_container .message_section .newUserMsg:before {
  content: '';
  display: inline-block;
  background-color: grey;
  padding: 0.5px 80px;
  margin: 1rem 10px 0.25rem 10px;
}

.chatroom_container .message_section .newUserMsg:after {
  content: '';
  display: inline-block;
  background-color: grey;
  padding: 0.5px 80px;
  margin: 1rem 10px 0.25rem 10px;
}

.chatroom_container .user_typing {
  list-style: none;
}

@media (max-width: 850px) {
  .chatroom_container .user_typing .typing_msg {
    font-size: 22px;
  }
}

.chatroom_container .forScroll {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.chatroom_container .chat_input_section_container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px -1px 12px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -1px 12px -4px rgba(0, 0, 0, 0.2);
  background-color: white;
  -ms-grid-columns: 1fr 6fr 1fr 80px 1fr;
      grid-template-columns: 1fr 6fr 1fr 80px 1fr;
  width: 100%;
  padding: 10px 0px;
  border-radius: 0px 0px 20px 20px;
  bottom: 0px;
}

.chatroom_container .chat_input_section_container .input_container {
  width: 100%;
  height: inherit;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  overflow-x: hidden;
}

.chatroom_container .chat_input_section_container .input_container .chat_intput {
  position: relative;
  left: 0px;
  width: 100%;
  margin-left: 8px;
  padding-top: 6px;
  border: none;
  resize: none;
}

.chatroom_container .chat_input_section_container .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}
/*# sourceMappingURL=Chatroom.css.map */