@import '../scssImports';
@include form-1;

/* --------- profile closed --------- */

.profile_container.has_user.closed {
    z-index: 2;
    background-color: transparent;
    pointer-events: none;

    .profile_form {
        position: relative;
        top: 30px;
        left: 0px;
        float: right;
        width: fit-content;
        pointer-events: initial;
        @include tablet{
            position: fixed;
            right: 0px;
            left: unset;
        }

        .profile_name {
            position: relative;
            top: 5px;
            left: 40px;
            display: inline-block;
            padding: 20px;
            transition: width 0.2s ease-out;
            @include tablet {
                top: 0px;
                left: 0px;
                padding: 0px 0px 0px 18px;
            }
        }

        .profile_name > * {
            font-size: 1.65rem;
            text-transform: capitalize;
            font-weight: bold;
            letter-spacing: 1rem;
            width: 20px !important;
            height: 20px;
            position: relative;
            padding: 10px 9px 10px 11px;
            cursor: pointer;
            transition: background-color 0.3s ease-in, width 0.2s ease-out;
        }

        .profile_name > *:hover {
            background-color: darken($greenish,15%);
            transition: background-color 0.1s ease-in;
        }
    }

    .button_rack {
        padding-top: 50px;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        align-items: flex-end;
        opacity: 0;
        transition: visibility 0.5s ease-out;

        * {
            margin-bottom: 10px;
        }

        .cancel_btn {
            display: initial;
            color: #f1491f;
        }
    }
}

/* --------- profile open --------- */

.profile_container.open.has_user {
    z-index: 2;
    background-color: rgba(white, 0.65);
    background-image: linear-gradient(to top right, rgba(white, 0.05), rgba(white, 0.8));
    pointer-events: none;

    .profile_form {
        position: relative;
        top: calc(30px + 1.5rem);
        left: 0px;
        float: right;
        width: fit-content;
        pointer-events: initial;
        @include tablet {
            position: fixed;
            top: 30px;
            left: -8px;
            right: 27px;
            margin-left: auto;
        }

        .profile_name, .profile_name > * {
            font-size: 1.65rem;
            display: block;
            position: absolute;
            width: unset;
            max-width: 300px;
            min-width: 70px;
            right: -10px;
            padding: 0px 0px 0px 18px;
            cursor: initial;
            transition: width 0.2s ease-out, background-color 0.15s ease;
            @include tablet {
                position: relative;
            }
        }
    }

    .button_rack, .button_rack > * {
        display: initial;
        opacity: 1;
        transition: visibility 0.5s ease-out;
    }

    .button_rack {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        opacity: 1;
        transition: visibility 0.5s ease-out;
        @include tablet {
            padding-top: 10px;
            position: relative;
            right: -20px;
        }

        * {
            margin-bottom: 10px;
        }

        .cancel_btn {
            display: initial;
        }

        .btn-1:disabled {
            background-color: transparent;
            color: #dddddd;
            cursor: unset;
        }
    }
}

.profile_name.open > input {
    background-color: darken($greenish,15%);
    transition: background-color 0.15s ease;
}

/* --------- main profile showing --------- */

.profile_container.profile {

    .profile_form {
        position: absolute;
        top: 30px;
        left: 50px;
        width: fit-content;

        .profile_name {
            display: block;
            position: initial;
            right: -15px;
            padding: 0px;
        }

        .profile_name > * {
            font-size: 1.65rem;
            cursor: initial;
        }
    }

    .button_rack {
        display: block;
        padding-top: 20px;

        * {
            display: block;
            margin-bottom: 10px;
        }

        .cancel_btn {
            display: none;
        }

        .btn-1:disabled {
            background-color: transparent;
            color: #dddddd;
            cursor: unset;
        }
    }
}