@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i&display=swap");
/* ------ screen responsiveness ------ */
/* ------ fonts ------ */
/* ------ colors ------ */
/* ------ elements ------ */
.input-1 > * {
  line-height: 2.5rem;
  padding: 0px 15px;
  border: 0;
  border-radius: 30px;
  background-color: #3bbd66;
  color: white;
}

.input-1 > *::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.input-1 > *:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.input-1 > *::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.input-1 > *::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.input-1 > *:focus {
  outline: none;
}

.btn-1 {
  border: 0;
  background-color: transparent;
  color: #3bbd66;
  font-weight: 600;
  cursor: pointer;
}

.btn-0 {
  border: 0;
  background-color: transparent;
  color: #f1491f;
  font-weight: 600;
  cursor: pointer;
}

/* --------- profile closed --------- */
.profile_container.has_user.closed {
  z-index: 2;
  background-color: transparent;
  pointer-events: none;
}

.profile_container.has_user.closed .profile_form {
  position: relative;
  top: 30px;
  left: 0px;
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  pointer-events: initial;
}

.profile_container.has_user.closed .profile_form .profile_name, .profile_container.has_user.closed .profile_form .profile_name > * {
  font-size: 1.65rem;
  width: 8px !important;
  padding: 0px 16px;
  right: -20px;
  cursor: pointer;
}

.profile_container.has_user.closed .button_rack {
  padding-top: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile_container.has_user.closed .button_rack * {
  margin-bottom: 10px;
}

.profile_container.has_user.closed .button_rack .cancel_btn {
  display: initial;
  color: #f1491f;
}

/* --------- profile open --------- */
.profile_container.open.has_user {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  pointer-events: none;
}

.profile_container.open.has_user .profile_form {
  position: relative;
  top: 30px;
  left: 0px;
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  pointer-events: initial;
}

.profile_container.open.has_user .profile_form .profile_name, .profile_container.open.has_user .profile_form .profile_name > * {
  font-size: 1.65rem;
  display: block;
  position: absolute;
  width: unset;
  right: -10px;
  padding: 0px 18px;
  cursor: initial;
}

.profile_container.open.has_user .button_rack, .profile_container.open.has_user .button_rack > * {
  display: initial;
}

.profile_container.open.has_user .button_rack {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.profile_container.open.has_user .button_rack * {
  margin-bottom: 10px;
}

.profile_container.open.has_user .button_rack .cancel_btn.open {
  display: initial;
  color: #f1491f;
}

/* --------- main profile showing --------- */
.profile_container.profile .profile_form {
  position: absolute;
  top: 30px;
  left: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile_container.profile .profile_form .profile_name {
  display: block;
  position: initial;
  right: -15px;
  padding: 0px;
}

.profile_container.profile .profile_form .profile_name > * {
  font-size: 1.65rem;
  cursor: initial;
}

.profile_container.profile .button_rack {
  display: block;
  padding-top: 20px;
}

.profile_container.profile .button_rack * {
  display: block;
  margin-bottom: 10px;
}

.profile_container.profile .button_rack .cancel_btn {
  display: none;
}
/*# sourceMappingURL=Profile.css.map */