@import '../scssImports';
@include form-1;

/* --------- profile closed --------- */

.profile_container.has_user.closed {
    z-index: 2;
    background-color: transparent;
    pointer-events: none;

    .profile_form {
        position: relative;
        top: 30px;
        left: 0px;
        float: right;
        width: fit-content;
        pointer-events: initial;

        .profile_name, .profile_name > * {
            font-size: 1.65rem;
            width: 8px !important;
            padding: 0px 16px;
            right: -20px;
            cursor: pointer;
        }
    }

    .button_rack {
        padding-top: 50px;
        display: none;
        flex-direction: column;
        align-items: flex-end;

        * {
            margin-bottom: 10px;
        }

        .cancel_btn {
            display: initial;
            color: #f1491f;
        }
    }
}

/* --------- profile open --------- */

.profile_container.open.has_user {
    z-index: 2;
    background-color: rgba(white, 0.85);
    pointer-events: none;

    .profile_form {
        position: relative;
        top: 30px;
        left: 0px;
        float: right;
        width: fit-content;
        pointer-events: initial;

        .profile_name, .profile_name > * {
            font-size: 1.65rem;
            display: block;
            position: absolute;
            width: unset;
            right: -10px;
            padding: 0px 18px;
            cursor: initial;
        }
    }

    .button_rack, .button_rack > * {
        display: initial;
    }

    .button_rack {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        * {
            margin-bottom: 10px;
        }

        .cancel_btn.open {
            display: initial;
            color: #f1491f;
        }
    }
}

/* --------- main profile showing --------- */

.profile_container.profile {

    .profile_form {
        position: absolute;
        top: 30px;
        left: 50px;
        width: fit-content;

        .profile_name {
            display: block;
            position: initial;
            right: -15px;
            padding: 0px;
        }

        .profile_name > * {
            font-size: 1.65rem;
            cursor: initial;
        }
    }

    .button_rack {
        display: block;
        padding-top: 20px;

        * {
            display: block;
            margin-bottom: 10px;
        }

        .cancel_btn {
            display: none;

        }
    }
}