@import './scssImports';
@include fonts;
@include main_container;
@include noFocus;
@include disabled;

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: auto;
    align-items: center;
    //grid-template-rows: auto 750px auto;
    grid-template-rows: 1fr 90% 1fr;
    grid-template-columns: auto 520px auto;
    background-image: linear-gradient(to bottom right, $blue, $lightColor, $pink);

    @include tablet {
        height: 100%;
        grid-template-rows: auto 100vh auto;
        grid-template-columns: auto 100vw auto;
        background-image: unset;
    }

    @include large-tablet {
        height: 100vh;
    }

    @include phone-horizontal {
        height: 100%;
    }
}

 .main_container {
    height: 100%;
    max-height: 750px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    height: 100%;
    max-height: 780px;
    padding: 0% 12.5%;
    box-sizing: border-box;

    @include tablet {
        overflow: hidden;
        max-height: unset;
    }*/
} 

@include shortToRegular {
    .App {
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 1fr 12fr 1fr;
    }

    .main_container {
        height: 100%;
        overflow: hidden;
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 0px;
    }
}

@include shortToWide {
    .App {
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 1fr 12fr 1fr;
    }

    .main_container {
        height: 100%;
        overflow: auto;
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 0px;
    }
}

@include wideScreens {
    .App {
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 1fr 12fr 1fr;
    }

    .main_container {
        height: 100%;
        overflow: auto;
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 0px;
    }
}

.link_container > * {
    text-decoration: none;
    color: black;
}

.active {
        color: red;
}