@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i&display=swap");
/* ------ screen responsiveness ------ */
/* Minimum aspect ratio */
/* ------ fonts ------ */
/* ------ colors ------ */
/* ------ elements ------ */
h1, h2, h3, h4, h5, h6, input, button {
  font-family: 'Nunito', sans-serif;
}

p, textarea {
  line-height: 1.25rem;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 40px;
}

@media (max-width: 850px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 30px;
}

@media (max-width: 850px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 20px;
}

@media (max-width: 850px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 20px;
}

@media (max-width: 850px) {
  h4 {
    font-size: 30px;
  }
}

h5 {
  font-size: 17px;
}

@media (max-width: 850px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 10px;
}

@media (max-width: 850px) {
  h6 {
    font-size: 12px;
  }
}

p {
  font-size: 17px;
  line-height: 1.5em;
}

button, input, .btn {
  font-size: 25px;
}

@media (max-width: 850px) {
  button, input, .btn {
    font-size: 27px;
  }
}

input > * {
  font-size: 27px;
}

@media (max-width: 850px) {
  input > * {
    font-size: 30px;
  }
}

textarea {
  font-size: 18px;
}

@media (max-width: 850px) {
  textarea {
    font-size: 30px;
  }
}

@media (max-width: 599px) {
  textarea {
    font-size: 19px;
  }
}

.main_container {
  position: relative;
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 2;
  grid-column: 2/2;
  background-color: white;
  border-radius: 20px;
}

textarea:focus {
  outline: none;
}

input[type="submit"]:disabled, button[type="submit"]:disabled {
  background-color: #dddddd;
  cursor: unset;
}

.App {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr 90% 1fr;
      grid-template-rows: 1fr 90% 1fr;
  -ms-grid-columns: auto 520px auto;
      grid-template-columns: auto 520px auto;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3ec1d3), color-stop(#f6f7d7), to(#ff6392));
  background-image: linear-gradient(to bottom right, #3ec1d3, #f6f7d7, #ff6392);
}

@media (max-width: 850px) {
  .App {
    height: 100%;
    -ms-grid-rows: auto 100vh auto;
        grid-template-rows: auto 100vh auto;
    -ms-grid-columns: auto 100vw auto;
        grid-template-columns: auto 100vw auto;
    background-image: unset;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .App {
    height: 100vh;
  }
}

@media (max-width: 1000px) and (max-height: 500px) {
  .App {
    height: 100%;
  }
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  max-height: 780px;
  padding: 0% 12.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 850px) {
  .main_container {
    overflow: hidden;
    max-height: unset;
  }
}

@media (min-width: 1101px) and (max-width: 1440px) and (min-aspect-ratio: 100 / 56) {
  .App {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 10fr 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    -ms-grid-columns: 1fr 12fr 1fr;
        grid-template-columns: 1fr 12fr 1fr;
  }
  .main_container {
    height: 100%;
    overflow: hidden;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: 0px;
  }
}

@media (min-width: 900px) and (max-width: 1100px) and (min-aspect-ratio: 100 / 76) {
  .App {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 10fr 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    -ms-grid-columns: 1fr 12fr 1fr;
        grid-template-columns: 1fr 12fr 1fr;
  }
  .main_container {
    height: 100%;
    overflow: auto;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: 0px;
  }
}

@media (min-width: 1441px) and (min-aspect-ratio: 100 / 42) {
  .App {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 10fr 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    -ms-grid-columns: 1fr 12fr 1fr;
        grid-template-columns: 1fr 12fr 1fr;
  }
  .main_container {
    height: 100%;
    overflow: auto;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: 0px;
  }
}

.link_container > * {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
}
/*# sourceMappingURL=App.css.map */