@import './scssImports';
@include fonts;
@include main_container;
@include noFocus;
@include disabled;

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 750px auto;
    grid-template-columns: auto 520px auto;
    background-image: linear-gradient(to bottom right, $greenish, $lightColor, $orangeish);

    @include tablet {
        height: 100%;
        grid-template-rows: auto 100vh auto;
        grid-template-columns: auto 100vw auto;
        background-image: unset;
    }

    @include large-tablet {
        height: 100vh;
    }

    @include phone-horizontal {
        height: 100%;
    }
}

@include shortToWide {
    .App {
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 1fr 12fr 1fr;
    }

    .main_container {
        height: 100%;
        overflow: auto;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    p {
        color: #9af;
    }
}

.link_container > * {
    text-decoration: none;
    color: black;
}

.active {
        color: red;
}