@import './scssImports';
@include fonts;
@include main_container;
@include noFocus;
@include disabled;

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 750px auto;
    grid-template-columns: auto 520px auto;
    background-image: linear-gradient(to bottom right, $greenish, $lightColor, $orangeish)
}

.link_container > * {
    text-decoration: none;
    color: black;
}

.active {
        color: red;
}